<div class="jumbotron text-center" >
    <h1 style="color:#0a0202;">Shared Secret</h1>
    <br>
    <p style="color:#000000;">Algoritmo de Shamirs para secreto compartido</p> 
  </div>

<div class="container">
    <h2 style="color:#ffffff;" >Secret Sharing</h2>
    <span style="color:#ffffff;">Mensaje Compartido: </span><input [(ngModel)]="mensajeCompartido" type="string"/>
    <p *ngIf="errorsecretSharing" style="color: #ffffff">No has escrito el secreto</p>
    <p></p>
    <span style="color:#ffffff;">Número de claves totales: </span> <input [(ngModel)]="keysShared" type="number"/>
    <p></p>
    <span style="color:#ffffff;">Número de claves para recuperar secreto: </span><input [(ngModel)]="keysThreshold" type="number"/>
    <p></p>
    <p>
      <input class="btn btn-primary" type="submit" value="Secret Sharing" (click)="secretSharing()" />
    </p>
    
    <p *ngFor="let keyS of sharedSecretsKeys; index as i">
      <span style="color:#ffffff;">Secret Key {{i+1}}: {{keyS}}</span>
    </p>
    <h2 style="color:#ffffff;">Número de claves para recuperar secreto (Threshold)</h2>
    <p *ngFor="let key of [].constructor(keysThreshold); index as i">
      <span style="color:#ffffff;">Recovery Key {{i + 1}}: </span><input [(ngModel)]="keysRecovery[i]" type="string" size="50"/>
     </p>
     <p>
      <span style="color:#ffffff;">Secreto Compartido: </span>{{secretRecovery}}
  </p>
  <p *ngIf="errorSecretRecovery" style="color:#ffffff;">
    <span style="color:#ffffff;">CLAVES ERRONEAS INTENTE DE NUEVO</span>
  </p>
  <p>
      <input class="btn btn-primary" type="submit" value="Recuperar Secreto" (click)="RecoverySecret()"/>
  </p>
  </div>
