<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']">Tienda</a>
      <a class="nav-link" [routerLink]="['/ss']">Shared Secret</a>
      <a class="nav-link" [routerLink]="['/paillier']">Paillier</a>
      <a class="nav-link" [routerLink]="['/user']">Perfil</a>
      <!--<a class="nav-item nav-link" [routerLink]="['/new']">Nuevo Seguimiento</a> -->
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1 style="color:#0a0202;">Shared Secret</h1>
  <br>
  <p style="color:#000000;">Algoritmo de Shamirs para secreto compartido</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card" style="background-color:#000000;">
        <div class="card-body text-center" style="background-color:#e0e0d571;">
          <div class="container" align='left'>
          <span class="titulo" style="color:#ffffff;">Shared Secret</span><br><br>
          </div>
          <div class="container" align='left'>
          <input [(ngModel)]="mensajeCompartido"
            type="string" /> <span style="color:#ffffff;"> Mensaje Compartido </span>
          <p *ngIf="errorsecretSharing" style="color: #912521b7"><b>¡No has escrito el secreto!</b></p>
          <p></p>
          <input [(ngModel)]="keysShared"
            type="number" /> <span style="color:#ffffff;"> Número de claves totales </span>
          <p></p>
          <input
            [(ngModel)]="keysThreshold" type="number" /> <span style="color:#ffffff;"> Número de claves para recuperar secreto </span>
          <p></p>
          </div>
          <p>
            <input class="btn btn-dark" style="background-color:#000000;" type="submit" value="Generar Claves" (click)="secretSharing()" />
          </p>
            <ul class="list-group" *ngFor="let keyS of sharedSecretsKeys; index as i">
              <li class="list-group-item list-group-item-primary"><b>Clave Secreta {{i+1}}:</b> {{keyS}}</li>
            </ul>
          <span class="titulo" style="color:#ffffff;">Escribe las claves para recuperar el SECRETO (Threshold)</span><br><br>
          <p *ngFor="let key of [].constructor(keysThreshold); index as i">
            <span style="color:#ffffff;"></span><input [(ngModel)]="keysRecovery[i]"
              type="string" size="50" />
          </p>
          <div align='text-center'>
          <p>
            <span style="color:#ffffff;"><b>*{{secretRecovery}}*</b></span>
          </p>
          </div>
          <p *ngIf="errorSecretRecovery" style="color:#ffffff;">
            <span style="color:#ffffff;">CLAVES ERRONEAS INTENTE DE NUEVO</span>
          </p>
          <p>
            <input class="btn btn-dark" style="background-color:#000000;" type="submit" value="Secreto" (click)="RecoverySecret()" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>