<div class="jumbotron text-center" >
    <h1 style="font-weight: bold;">Shared Secret</h1>
    <br>
    <p style="font-weight: bold;">Algoritmo de Shamirs para secreto compartido</p> 
  </div>

<div class="container">
    <h2 style="font-weight: bold;" >Secret Sharing</h2>
    Mensaje Compartido: <input [(ngModel)]="mensajeCompartido" type="string"/>
    <p *ngIf="errorsecretSharing" style="color: #000000">No has escrito el secreto</p>
    <p></p>
    Número de claves totales: <input [(ngModel)]="keysShared" type="number"/>
    <p></p>
    Número de claves para recuperar secreto <input [(ngModel)]="keysThreshold" type="number"/>
    <p></p>
    <p>
      <input class="btn btn-primary" type="submit" value="Secret Sharing" (click)="secretSharing()" />
    </p>
    
    <p *ngFor="let keyS of sharedSecretsKeys; index as i">
      Secret Key {{i+1}}: {{keyS}}
    </p>
    <h2>Número de claves para recuperar secreto (Threshold)</h2>
    <p *ngFor="let key of [].constructor(keysThreshold); index as i">
      Recovery Key {{i + 1}}: <input [(ngModel)]="keysRecovery[i]" type="string" size="50"/>
     </p>
     <p>
      Secreto Compartido: {{secretRecovery}}
  </p>
  <p *ngIf="errorSecretRecovery" style="color:#FF0000;">
    CLAVES ERRONEAS INTENTE DE NUEVO
  </p>
  <p>
      <input class="btn btn-primary" type="submit" value="Recuperar Secreto" (click)="RecoverySecret()"/>
  </p>
  
  </div>
