<nav class="navbar navbar-expand-lg navbar-light bg-light">
 

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']">Tienda</a>
      <a class="nav-link" [routerLink]="['/ss']">Shared Secret</a>
      <a class="nav-link" [routerLink]="['/paillier']">Paillier</a>
      <a class="nav-link" [routerLink]="['/user']">Perfil</a>
      <!--<a class="nav-item nav-link" [routerLink]="['/new']">Nuevo Seguimiento</a> -->
    </div>
  </div>
</nav>
<div class="jumbotron text-center" >
  <h1 style="font-weight: bold;">RSA Encryption</h1>
  <br>
  <p style="font-weight: bold;">Intercambio de mensajes servidor-cliente cifrado con RSA</p> 
</div>

<div>

    <h2 style="color:#ffffff;" >Mensaje a enviar</h2>
    <form [formGroup]="seguimientoForm" (ngSubmit)="sendMessage()">
    <p>   
      <span style="color:#ffffff;">Mensaje: </span><input type="string"  formControlName="message" size="50"/>
      <ng-container
        *ngIf="!formControls.message.valid && formControls.message.touched">
        <p *ngIf="formControls.message.errors.required">
          <span style="color:#ffffff;">Introduce un mensaje</span>
        </p>
      </ng-container>
    </p>
   <!-- <button onclick="sendMessage()" [disabled]="seguimientoForm.invalid" >Enviar</button>-->
   <input class="btn btn-primary"type="submit" value="Enviar" [disabled]="seguimientoForm.invalid" />

    <h4 style="color:#ffffff;"><br>Mensaje sin encriptar: {{data}}</h4>
    <h4 style="color:#ffffff;">Mensaje encriptado: {{dataEncrypted}}</h4>
    
  </form>
  </div>

        
     
    <!--<input type="submit" value="Enviar" [disabled]="seguimientoForm.invalid" /> -->
    <!-- 
    <p>
      Fecha : <input type="string"  formControlName="fecha" />*
      <ng-container
        *ngIf="!formControls.fecha.valid &&formControls.fecha.touched">
        <p *ngIf="formControls.fecha.errors.required">
          Fecha Obligatoria.
        </p>
      </ng-container>
    </p>

    <p>
       Telefono: <input type="string" formControlName="telefono" />*
      <ng-container
        *ngIf="!formControls.telefono.valid && formControls.telefono.touched">
        <p *ngIf="formControls.telefono.errors.required">
          Introduce el telefono del paciente.
        </p>
      </ng-container>
    </p>
  
    <p>
      DNI: <input type="string" formControlName="dni" />*
      <ng-container
        *ngIf="!formControls.dni.valid &&formControls.dni.touched">
        <p *ngIf="formControls.dni.errors.required">
          Introduce el DNI.
        </p>
      </ng-container>
    </p>

    <p>
      Fiebre: <select formControlName="fiebre">
        <option value="no" >Si</option>
        <option value="si" >No</option>
      </select>*
      <ng-container
        *ngIf="!formControls.fiebre.valid &&formControls.fiebre.touched">
        <p *ngIf="formControls.fiebre.errors.required">
         Selecciona una opcion.
        </p>
      </ng-container>
    </p>

    <p>
        Tos: <select formControlName="tos">
          <option value="si" >Si</option>
          <option value="no" >No</option>
        </select>*
        <ng-container
          *ngIf="!formControls.tos.valid &&formControls.tos.touched">
          <p *ngIf="formControls.tos.errors.required">
           Selecciona una opcion.
          </p>
        </ng-container>
      </p>
      <p>
        Dificultad : <input type="string"  formControlName="dificultad" />*
        <ng-container
          *ngIf="!formControls.dificultad.valid &&formControls.dificultad.touched">
          <p *ngIf="formControls.dificultad.errors.required">
            Introduce el campo.
          </p>
        </ng-container>
      </p>
      <p>
        Malestar : <input type="string"  formControlName="malestar" />*
        <ng-container
          *ngIf="!formControls.malestar.valid &&formControls.malestar.touched">
          <p *ngIf="formControls.malestar.errors.required">
            Introduce el campo.
          </p>
        </ng-container>
      </p>
      <p>
        <input type="submit" value="Añadir" [disabled]="seguimientoForm.invalid" />
        <input type="submit" value="Atrás" (click) = "goBack()" />
      </p>
-->
  
  
