<nav class="navbar navbar-expand-lg navbar-light bg-light">
  

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']">Tienda</a>
      <a class="nav-link" [routerLink]="['/ss']">Shared Secret</a>
      <a class="nav-link" [routerLink]="['/paillier']">Paillier</a>
      <a class="nav-link" [routerLink]="['/user']">Mis productos</a>
      <!--<a class="nav-item nav-link" [routerLink]="['/new']">Nuevo Seguimiento</a> -->
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Paillier</span><br>
          <span class="float-cnter"><b>-----Cifrado e intercambio de mensajes con paillier----</b></span>
          <p></p>

          
            <h2 style="color:#000000;">Mensaje a enviar</h2>
            <form [formGroup]="paillierForm" (ngSubmit)="sendMessage()">
              <p>
                <span style="color:#000000;">Número1: </span><input type="string" formControlName="message1" size="50" />
                <ng-container *ngIf="!formControls.message1.valid && formControls.message1.touched">
                  <p *ngIf="formControls.message1.errors.required">
                    <span style="color:#ac3030;">Introduce un mensaje</span>
                  </p>
                </ng-container>
              </p>
              <p>
                <span style="color:#000000;">Número2: </span><input type="string" formControlName="message2" size="50" />
                <ng-container *ngIf="!formControls.message2.valid && formControls.message2.touched">
                  <p *ngIf="formControls.message2.errors.required">
                    <span style="color:#ac3030;"><b>Introduce 2 números</b></span>
                  </p>
                </ng-container>
              </p>
              <!-- <button onclick="sendMessage()" [disabled]="paillierForm.invalid" >Enviar</button>-->
              <input class="btn btn-primary" type="submit" value="SUMA ENCRIPTADA" [disabled]="paillierForm.invalid" />        
              <h4 style="color:#000000;">Número 1: {{data1}} </h4>
              <h4 style="color:#000000;">Número 2: {{data2}} </h4>
              <h4 style="color:#030303;"><b>Resultado obtenido desde Backend: {{totalResultadoDesdeBacked}}</b></h4>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>