<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE PRODUCTOS</span>
                  <button class="btn btn-success float-right">NUEVO</button>
                  <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of listProductos">
                        <td>{{producto.nombre}}</td>
                        <td *ngIf="producto.valor > 1">{{producto.valor}} Coins</td>
                        <td *ngIf="producto.valor == 1">{{producto.valor}} Coin</td>
                        <td>
                          <i class="fas fa-edit text-primary"></i>
                          <i class="fas fa-trash text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
              </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="container">
    <table class="table table-striped">
      <thead >
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Telefono</th>
          <th>DNI</th>
          <th>Fiebre</th>
          <th>Tos</th>
          <th>Dificultad</th>
          <th>Malestar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let seguimiento of seguimientos">
          <td>{{seguimiento.nombre}}</td>
          <td>{{seguimiento.fecha}}</td>
          <td>{{seguimiento.telefono}}</td>
          <td>{{seguimiento.dni}}</td>
          <td>{{seguimiento.fiebre}}</td>
          <td>{{seguimiento.tos}}</td>
          <td>{{seguimiento.dificultad}}</td>
          <td>{{seguimiento.malestar}}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click) = "delete(seguimiento._id)">
              <i class="material-icons"> Eliminar </i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div> -->