<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']">Tienda</a>
      <a class="nav-link" [routerLink]="['/ss']">Shared Secret</a>
      <a class="nav-link" [routerLink]="['/paillier']">Paillier</a>
      <a class="nav-link" [routerLink]="['/user']">Perfil</a>
      <!--<a class="nav-item nav-link" [routerLink]="['/new']">Nuevo Seguimiento</a> -->
    </div>
  </div>
</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE PRODUCTOS</span>
                  <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of listProductos">
                        <td>{{producto.nombre}}</td>
                        <td *ngIf="producto.valor > 1">{{producto.valor}} Coins</td>
                        <td *ngIf="producto.valor == 1">{{producto.valor}} Coin</td>
                        <td>
                          <button class="btn btn-primary" (click)="comprar(producto._id, producto.valor)">Comprar</button>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
              </div>
            </div>
        </div>
    </div>
</div>


<!--<h4 style="color:#000000;">Saldo en coins disponibles: {{usuario.coins.length}} </h4>-->
